{
  "mode": "dev",
  "mysql": {
    "host": "localhost",
    "port": "3307",
    "password": "",
    "socketpath": "/cloudsql/hoai-27504:asia-southeast1:datn-hoainguyen"
  },
  "firestore": {
    "bucketName": "gs://datn-a7520.appspot.com"
  }
}
